<div class="row">
  {% for coffee in coffee.coffee %}
    <div class="col-sm-6 col-lg-4">
      <div class="card text-dark mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ coffee.name }}</h5>
          <h6 class="headline">{{ coffee.description }}</h6>
          <img src="../img/{{ coffee.image_front }}" alt="" class="img-fluid">
          <p class="card-link"><a href="../coffee/{{ coffee.slug }}.html">{{ coffee.slug }}</a></p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>