{% extends '_templates/base.njk' %}

{% block page_title %}The Austin Local: About Us{% endblock %}
{% block page_description %}We're an independendly run publication of local Austin Journalists.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>About Us</h1>
      <p>We're an independent publication run by freelance journalists who live in Austin. Inspired by some of our favorite small businesses that have gone under over the last few years. Don't see your favorite small business on our site?Nominate your favorite small business in Austin by emailing us bellow.</p>
      <p>email: keepaustingenuine@gmail.com</p>
    </div>
    <div class="col-md-5">
      <img src="../img/city-of-austin-logo.jpg" alt="The city of Austin's logo">
    </div>
  </div>
</div>
{% endblock %}
