{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ description }} by the Austin Local{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="cover-left col-md-7">
        <h1>{{ name }}</h1>
        <p>{{ prose(post) }}</p>
        <p class="email-list">Sign up for our weekly news letter <a href="about-us.html">here</a></p>
      </div>
      <div class="cover-right col-md-5">
        <img src="../img/{{ highlight_image }}" alt="" class="img-fluid mb-4">
        <p class="quote">{{ highlight_quote }}</p>
        <p class="byline">{{ quote_author }}</p>
      </div>
    </div>
    <div class="row">
     {% include "_includes/" + slug + ".njk" %}
  </article>
{% endblock %}